body {
    background-color: #0f172a;
}

.stApp {
    background: linear-gradient(to bottom right, #0f172a, #1e293b);
    color: white;
}

h1 {
    color: #38bdf8;
    text-align: center;
}

.stChatMessage {
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

[data-testid="stSidebar"] {
    background-color: #111827;
}

.stButton button {
    width: 100%;
    border-radius: 10px;
    background-color: #38bdf8;
    color: black;
    font-weight: bold;
}